    
    {% extends "base.html" %}
    {% block  content %}
    <div class="row">
        <div class="col">
            <div class="flex">
                <div class="header">E-Waste Facility Locator</div>
                
                <div class="links">
                    <a href="/form" target="_blank">
                        <button type="button">Sell Product</button>
                    </a>
                    <a href="/information" target="_blank">
                        <button type="button">E-waste Products</button>
                    </a>
                    <a href="/credit">
                        <button type="button">Credit Points</button>
                    </a>
                </div>
                <div class="cards">
                    <div class="card"> </div>
                    <div class="card-1"> </div>
                </div>
                <div class="cards-1">
                    <div class="card-2"> </div>
                    <div class="card-3"> </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="para">
        <p>E-waste: Where old technology meets new opportunities for sustainability </p>
    </div>
    

</body>
</html>
{% endblock  %}